[submodule "pcb/KiCad-RP-Pico"]
	path = pcb/KiCad-RP-Pico
	url = git@github.com:ncarandini/KiCad-RP-Pico.git
[submodule "code/libs/RP2040-PWM-Tone"]
	path = code/libs/RP2040-PWM-Tone
	url = git@github.com:DrNotThatEvil/RP2040-PWM-Tone.git
